<div ng-controller="amsp1">
<div class="scrollable">
  <div class="scrollable-content" >
	<div class="bodyhead none">
		<div class="titset">
			<h2 class="hd2">자산관리</h2>
		</div>
	</div>
	<!--	
	<input type="text" ng-model="searchBox"> 
	<ul>
		<li ng-repeat="person in persons | filter:searchBox">
			{{ person.Name + " : " + person.Age}} 
		</li>  
	</ul>
	-->
	  

<div class="scrollable fixed">
  <div class="scrollable-content">
    <div class="section">
      <ui-shared-state id="activeTab" default="1"></ui-shared-state>

      <ul class="nav nav-tabs ty1">
        <li ui-class="{'active': activeTab == 1}">
          <a ui-set="{'activeTab': 1}">공연</a>
        </li>
        <li ui-class="{'active': activeTab == 2}">
          <a ui-set="{'activeTab': 2}">대관</a>
        </li>

      </ul>
  <style>
	  .swiper-container {position:relative}
	  .swiper-slide img {width:100%}

  </style>
      <div ui-if="activeTab == 1" class="play-tab">
      		<div class="swiper-container play">
				<div class="swiper-wrapper play-wrap">
					<div class="swiper-slide play-pt t1">
						<!-- 1st -->
						<span class="simg">
							<img src="img/poster1.jpg" alt="" />
						</span>
					<div class="play-flex">
						<h3 class="play-name">
						<span class="play-date">2020.07.25</span>
							리밋 단독 콘서트
						</h3>
						<div class="play-btn">
							<a href="javascript:void(0)">
								예약하기
							</a>
						</div>
					</div>
					</div>																
					<div class="swiper-slide play-pt t2">
						<span class="simg">
							<img src="img/poster2.jpg" alt="" />
						</span>
					<div class="play-flex">
						<h3 class="play-name">
						<span class="play-date">2020.07.26</span>
							성영주 단독 콘서트
						</h3>
						<div class="play-btn">
							<a href="javascript:void(0)">
								예약하기
							</a>
						</div>							
					</div>
					</div>									
					<div class="swiper-slide play-pt t3">
						<span class="simg">
							<img src="img/poster3.jpg" alt="" />
						</span>
					<div class="play-flex">
						<h3 class="play-name">
						<span class="play-date">2020.08.02</span>
							픽보이 TalksOnMusic
						</h3>
						<div class="play-btn">
							<a href="javascript:void(0)">
								예약하기
							</a>
						</div>
					</div>						
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
			

			<div class="play-bg"></div>			
			
			<!--
			<div class="play">
			<ul class="play-posterset">
				<li class="play-pt t1">
					<a href="javascript:void(0)">
						<span class="simg">
							<img src="img/poster1.jpg" alt="" />
						</span>
					</a>
				</li>
				<li class="play-pt t2">
					<a href="javascript:void(0)">
						<span class="simg">
							<img src="img/poster2.jpg" alt="" />
						</span>
					</a>
				</li>
				<li class="play-pt t3">
					<a href="javascript:void(0)">
						<span class="simg">
							<img src="img/poster3.jpg" alt="" />
						</span>
					</a>
				</li>
			</ul>
			
			<div class="play-foot">
				<ul class="play-nameset">
					<li class="play-name t1">
					<h3>
						<span class="play-date t1">2020.07.25</span>리밋 단독 콘서트
					</h3>
					</li>
					<li class="play-name t2"><h3><span class="play-date t2"></span></h3></li>
					<li class="play-name t3"><h3><span class="play-date t3"></span></h3></li>
				</ul>
				<div class="play-btn"><a href="#">예매하기</a></div>
			</div>
			-->
			
		</div>
      </div>

      <div ui-if="activeTab == 2" class="rent-tab">
      	<div class="rent-wrap">
      	<div class="rent-list t1">   		
      		<h2>대관</h2>
      		<p>롤링홀 대관 정보와 문의입니다.</p>
      		<ul>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>대관 일정</h3>
      				</a>
      			</li>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>대관 안내</h3>
      				</a>
      			</li>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>대관 문의</h3>
      				</a>
      			</li>
      		</ul>
      	</div>
      	<div class="rent-list t2">
      	    <h2>무대</h2>
      		<p>롤링홀 무대 및 공연장 전체 도면입니다.</p>
      		<ul>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>무대 구조(도면)</h3>
      				</a>
      			</li>
      		</ul>
      	</div>
      	<div class="rent-list t3">
      		<h2>음향</h2>
      		<p>롤링홀 음향 장비 관련 정보입니다.</p>
      		<ul>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>음향 설비(회로)</h3>
      				</a>
      			</li>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>음향 장비(리스트)</h3>
      				</a>
      			</li>
      		</ul>
      	</div>
      	<div class="rent-list t4">
      		<h2>조명</h2>
      		<p>롤링홀 조명 장비 관련 정보입니다.</p>
      		<ul>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>조명 설비(회로)</h3>
      				</a>
      			</li>
      			<li>
      				<a href="javascript:void(0)">
      					<span class="rent-ico"></span><h3>조명 장비(리스트)</h3>
      				</a>
      			</li>
      		</ul>
		</div>
      	</div>
      	<div class="rent-bg"></div>
      </div>
    </div>

  </div>
</div>
  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: {
        el: '.swiper-pagination',
      },
		passiveListeners : false
    });

  </script>


	  
	
	<div ui-content-for="modals">
		<div ng-include="'page/amsp1_pop1.html'"></div>
	</div>	  
	
	

	  
  

	
 
	
	<!--  
    <div class="list-group text-center">

		
	<div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Play around a little</h3>
            Open the sidebar and start testing features
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Test responsiveness and speed</h3>
            Scroll, tap, navigate, test that everything is smooth
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Resize your browser</h3>
            Stretch and squeeze your browser window to see both mobile and desktop versions.
        </div>
      </div>

      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Submit an issue</h3>
            <p>Please submit any issue you'll find, <a href="https://github.com/mcasimir/mobile-angular-ui/issues" target="blank" id="#home-report">reporting</a> your user agent string:<br>
            </p>
<pre>{{userAgent}}</pre>
            <p>
              It would help a lot!
            </p>
        </div>
      </div>

    </div>
	-->
  </div>
</div>
	
</div>
